/*Carousel走马灯*/
.el-carousel__item h3 {
    color: #ffffff;
    font-size: 16px;
    opacity: 0.75;
    margin: 0;
    position: absolute;
    bottom: 35px;
    left: 15px;
}

.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
}

/*ul li属性*/
.news-ul {
    height: 300px;
    overflow: auto;
}
.news-ul li {
    display: block;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #d3dce6;
    white-space: nowrap;
    overflow: hidden;
}
.news-ul li a {
    display: block;
    color: #303133;
}
.news-ul li a i {
    color: #3a8ee6;
}
.news-ul li a:hover,
.news-ul li a:hover > i{
    text-decoration: underline;
    color: #C20C0C;
}